.container {
    margin: auto;
    background-color: #FFF2F2;
    max-width: 1200px;
    padding: 20px;
}

body{
    font: normal 16px/28px Arial, sans-serif;
    background-color: #A9B5DF;
    color: #2D336B;
    background-image: url(img/pink-flowers.jpg);
}

.content{
    padding: 5px;
}

.content h2{
    font-size: 20px;
    font-weight: bold;
}

.content .penulis{
    font-size: 12px;
    margin-top: -5px;
}

.content p{
    margin-bottom: 20px;
    font-size: 14px;
}

.content .penulis a {
    color: #A9B5DF;
    text-decoration: none;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header .judul {
    font-size: 40px;
    font-weight: bold;
}

.header ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; 
}

.header ul li{
    margin-right: 20px;
}

.header a{
    text-decoration: none;
    color: #7886C7;
    padding: 3px;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

.header a:hover{
    background-color: #2D336B;
    color: #FFF2F2;
}

.hero {
    height: 500px;
    background-image: url(img/meong.jpg);
    background-size: cover;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    border-top: 5px solid #7886C7;
    border-bottom: 5px solid #7886C7;
}

.footer {
    background-color: #2D336B;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.footer .copy{
    color: #FFF2F2;
    text-align: center;
    font-size: 12px;
}